REACT_APP_SUPABASE_URL=https://tpehesxkssmdqbjqxovs.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwZWhlc3hrc3NtZHFianF4b3ZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3NTkxMTYsImV4cCI6MjA4MDMzNTExNn0.cuOVBj2TJbLoPsPnEVOXyUloh2nAb2upyNXHAEp7LM0